html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

button {background: transparent; border: none; outline: none }

section,
header > div,
.inv > div {
  max-width: 1440px;
  margin: auto;
}


.inv {
  max-width: none;
}
.inv a {
  color: #ffefaa;
}

html {
  font-family: 'barlow', 'helvetica', 'arial';
  font-size: 16px;
  /* font-size: 20px; */
  font-weight: 400;
  color: #303030;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'barlow', 'helvetica', 'sans-serif';
  font-weight: 700;
  line-height: 1.5;
  color: inherit;
}

p,
li {
  line-height: 1.5;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-size: 1.1rem;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  margin: 0;
  width: auto;
}

h2,
.padB {
  font-size: 1.65rem;
  margin: 1rem 0;
}

button h2,
button h3,
button h4 {
  margin: 0;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  padding: 0;
  margin: 1.3rem 0;
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
  padding: 0;
  margin: 1.2rem 0;
}

h6 {
  font-size: 1.1rem;
  margin: 1.1rem 0;
  font-weight: 500;
}


.blue {
  color: #2E48A6 !important;
  border-color: #2E48A6 !important;
}

.purp {
  color: #7f1597 !important;
  border-color: #7f1597 !important;
}

a {
  color: #2E48A6;
}


cite,
figcaption,
.cite {
  font-weight: 500;
  font-size: .875rem;
  font-style: normal;
  display: inline;
  font-family: 'Roboto', 'Helvetica', 'sans serif';
}
.citeLeft,
figcaption {
  text-align: left;
  width: 100%;
}

p strong {
  font-weight: 600;
}

/* LISTS */
ul {
  padding: 0;
}

.subList {
  margin-left: 1rem !important;
}
.subList:first-child p {
  margin-left: -1rem;
}
.subList li {
  display: list-item !important;
  list-style: circle !important;
}
ol {
  padding: 0;
}
ol li,
.eval li {
  margin: .75rem 0;
  display: flex;
  align-items: center;
}
.eval li {
  flex-wrap: wrap;
}

ol li h3 span,
.circle,
.eval li h3 span {
  color: #fff;
  background-color: #303030;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
  border-radius: 100%;
  margin: 0 1rem 0 0;
  font-size: 1.2rem;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
ol li h3 {
  display: flex;
  align-items: center;
}
.eval h3 {
  min-width: 300px;
}
.eval li >
.listButton {
  padding: .75rem 0;
  background: #fffcf1;
  margin: .75rem 0 !important;
  cursor: pointer;
}
.eval li p:first-of-type {
  width: 10%;
  min-width: 48px;
}
.listButton:hover,
.listButton:focus {
  color: #fff !important;
  background: #005e67;
  transition: .1s linear;
}


.gridDub {
  grid-column: span 2;
}

/* INFOGRAPHIC LAYOUT STYLING */

.igBox {
  border: 2px dashed #7d7d7d;
  padding: 1rem 2rem;
  margin: 2rem 0;
  /* height: 100%; */
  width: 100%;
}
.igBox img {
  width: 100%;
}

/*  GRID! GRID! GRID! */

.grid,
.gridCols,
.iconGrid,
.iconGridCols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  place-items: center;
  width: 100%;
}
.pads li {
  padding: 2rem;
}
.pads p {
  margin: 0;
}
.pads h4 {
  margin: 0;
}
.gridCols,
.iconGridCols {
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 2.5rem;
  margin: 2.5rem auto;
}
.iconGrid {
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
  margin: 6rem auto;
}
.iconGridCols {
  gap: 1rem;
}
.gridCols div {
  margin: 4rem 0;
}
/* .gridCols h5 {
  padding: 1rem 1rem 1.5rem 1rem;
} */
.grid > li,
.gridCols > li,
.iconGrid > li,
.iconGridCols > li {
  list-style: none;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
}

.iconGrid li,
.iconGridCols li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: center;
  margin: 0;
  border: 1.5px dashed #797979;
}

.iconGrid p,
.iconGridCols p {
  filter: drop-shadow(0px 1px 4px #fffbfb);
}


.note .iconGrid li,
.note .iconGridCols li,
.video .iconGrid li,
.video .iconGridCols li {
  background: url('./assets/generic/diagonalFaintP.png');
  box-shadow: -1px 2px 1px #F7ECE1;
  background-size: 500px;
}



/* placed here for cascade reasons */
li {
  list-style: none;
}
.list,
.list2 {
  padding: 0 0 0 1rem;
}
.list li,
.list2 li {
  list-style: disc;
}


/* FLEXBOX */

.flex,
.flexCol,
.img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flexCol {
  flex-direction: column;
}
.TF p {
  padding-top: 4rem;
  margin-top: 3rem;
  border-top: 3px dotted #72ADD1;
  max-width: 900px;
}
.TF p:first-of-type {
  padding-top: 0;
  border: none;
}


/* CONTENT HIGHLIGHT BOXES */
.iNote,
.note,
.video,
.resources,
.knowledgeCheck,
.graph,
.map,
.covid {
  padding: 4rem;
  background: #fffaeb;
  /* background: #fffaeb90; */
  margin: 4rem 0;
  border-radius: 1px;
  box-shadow: 0px 2px 2px #2E48A608 ;
}
.note {
  color: #005E67;
}
.mini {
  padding: 2rem 3rem; margin: 2rem 0 !important;
}
/* .note li,
.video li,
.resources li,*/
.endGlossary li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}
.iNote,
.covid {
  color: #005E67;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: .25rem dashed #F1B434;
  border-radius: 0;
  background: transparent;
  padding: 3rem;
  font-family: 'jost', 'roboto', 'arial';
}

.iNote .CTA {
  margin-bottom: 0;
  border-color: #72ADD1;
  text-align: left;
}
.covid {
  padding: 3.5rem 2rem;
  margin: 80px 0;
  border-color: #2E48A6;
  background: #fffcf31c;
}
.covid > div,
.iNote > div,
.iNote > p {
  width: calc(100% - 10rem);
}

.covid,
.covid H3 {
  color: #2E48A6;
}


.covid img,
.iNote img {
  width: 12vmax;
  min-width: 3rem;
  max-width: 5rem;
  margin-right: 3rem;
}
.resources img {
  margin: 0 1rem 0 -12px;
}


.note span
.resources span {
  margin-right: 1.5rem;
}


.blue h2,
.blue h3,
.blue h4,
.blue h5,
.blue cite,
.blue p {
  color: #2E48A6;
}


.purp h2,
.purp h3,
.purp h4,
.purp h5,
.purp cite,
.purp figcaption,
.purp p {
  color: #971583;
}

/* Paragraph blocks */
blockquote {
  margin: 3rem 0 4rem 0;
  display: flex;
}
blockquote > span {
  background-image: url('./assets/diagonal2.png'); 
  background-size: 500px;
  width: 2rem;
  align-self: stretch;
}
blockquote > div,
.list2 {
  width: calc(100% - 2rem);
  margin: -1rem 0 -20px 2rem;
}

.list2 .resources {
  padding: 0 0 0 3rem;
  border: none;
  color: #005E67 !important;
  width: calc(100% - 3rem); 
}

.list2 .resources li {
  display: list-item;
  padding: 6px 0 .75rem .75rem;
}

.list2 .resources li:first-child {
  margin-top: -12px;
}

.list2 .resources li:last-child {
  margin-bottom: -1.5rem;
}

.resources li span {
  margin-right: 1.5rem;
  color: #007681 !important;
  font-size: 1.5rem;
}
.knowledgeCheck {
  background: #f4f8ff;
  color: #2E48A6 !important;
  border: 6px dotted #2E48A6;
  margin: 6rem auto;
  font-family: 'jost';
}

.multList li {
  flex-direction: column;
  min-width: 175px;
  margin: 0;
}


.checkBox {
  margin: 2rem 0;
  min-width: 320px;
  padding: 4rem 2rem 4rem 4rem;
  border: 4px dotted #72ADD1;
  color: #2E48A6;
}
.checkBox li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #72ADD1;
}

.checkBox input {
  margin: 1rem 1rem 1rem 0;
}
#correct,
#incorrect,
#correct2,
#incorrect2
{
  display: none;
}

/* MAP / KNOWLEDGE CHECK SECTIONS */
.map {
  position: relative;
}
.map img {
  width: 100%;
}
.map button,
.multList button,
.multList2 button {
  background-color: #2E48A6;
  color: #fff;
  font-size: 1.5rem;
  border: 2px solid #fff;
  border-radius: 100%;
  width: 9vw;
  height: 9vw;
  max-width: 4rem;
  max-height: 4rem;
  font-family: 'jost';
  position: absolute;
  cursor: pointer;
}
.multList button,
.multList2 button {
  position: static;
  margin: .5rem;
  width: 3.5rem;
  height: 3.5rem;
  min-width: 3.5rem;
  min-height: 3.5rem;
}
.multList2 button {
  margin: 0 1rem 0 0;
}
.multList li p {
  margin: .5rem !important;
}
.answer2,
.answer2C {
  display: none;
  padding: 1rem 1.5rem;
  margin: 0 1rem 0 0 !important;
  border-radius: 2px;
  min-width: 160px;
  text-align: center;
  background: #971583;
  color: #fff !important;
  font-size: 1rem;
}
.answer2C {
  background:#007681 !important;
  color: #fff !important;
}
.provinceBox{
  text-align: right;
}
.provinceBox h3 {
  margin: .75rem 0;
}

.map button:hover,
.map button:focus,
.multList button:hover,
.multList button:focus,
.multList2 button:hover,
.multList2 button:focus {
  background-color: #fff;
  color: #2E48A6;
  border: 2px solid #2E48A6;
  transition: .1s linear;
}

/* VIDEO */
.transcriptButton,
.TFbutton,
.CTA,
.flowButton {
  color: #303030;
  border: 1px solid #303030;
  border-radius: 1px;
  padding: 1rem 1.5rem;
  margin: 2rem 0;
  transition: .1s;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'barlow', 'helvetica', 'arial';
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  line-height: 1.5;
  background: #fff;
}
.CTA:hover,
.CTA:focus,
.flowButton:hover,
.flowButton:focus {
  color: #fff;
  background: #303030;
}

.inv .flowButton:hover,
.inv .flowButton:focus {
  color: #303030;
  background: #fff;
}
.toc button {
  width: 100%;
  padding: 0 2rem;
  margin: .5rem 0;
}
.toc .note {
  margin: .5rem 0 1rem 0;
  width: 100%;
  padding: 1rem 4rem 2rem 4rem;
}
.toc ul {
  margin: 0 0 0 2rem;
  padding: 0;
}

.CTA img,
.iNote .CTA img {
  max-width: 2rem;
  min-width: 2rem;
  background-color: #fff;
  padding: .5rem;
  border-radius: 50%;
  margin: -4px 1rem -4px -8px !important;
  height: 2rem;
}



.iNote .CTA:hover,
.iNote .CTA:focus {
  border: 2px solid #72ADD1;
  color: #fff;
  background: #72ADD1;
}

.endGlossary li {
  border-bottom: 3px dotted #007681;
  padding: 2rem 0;
}
.endGlossary li:last-child {
  border-bottom: none;
}
.endGlossary .list .list {
  width: 33%;
}

.endGlossary h4 {
  width: 300px;
  margin-right: 4rem;
}
.endGlossary2 h4 {
  width: 100%;
  min-width: 100px;
}
.endGlossary2 > li {
  display: grid;
  grid-template-columns: 25% 35% 35%;
  gap: 2.5%;
  width: 100%;
}

.endGlossary p {
  width: 100%;
}



/* JS CLASSES & ANIMATIONS */
.displayNone,
.mapBox {
  display: none;
  transition: 0;
}

.mapBox {
  margin-top: 2.5rem !important;
}

.flip {
  font-size: 2rem;
  background: url(./assets/diagonal.png);
  background-size: 300px;
  color: #303030;
}
.flip,
.unFlip {
  transition: .4s;
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%; 
  margin: 0 !important; 
  z-index: 2;
  min-height: 200px;
}
.flip span {
  background: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: 2px solid #303030;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flipCard {
  position: relative;
}
.flip h5 {
  background: #fff;
  border-radius: .25rem;
  border: 2px solid #2E48A6;
  padding: .75rem 1.5rem;
}
.unFlip{
  transform: rotateY(90deg);
  transition: .4s .3s;
  z-index: 0;
  background: #fff;
  position: absolute;
}

.hotText,
.hotText2 {
  position: absolute;
  border-radius: 100%;
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  transition: .1s;
  cursor: pointer;
  border: 3px dashed transparent;
  background: transparent;
  
}
.hotText2 {
  width: 2rem;
  height: 2rem;
  color: #fff;
  border: 3px solid #fff;
  padding-bottom: 3.5px;
  font-size: 1.5rem;
  font-weight: bold;
}

.hotText:hover,
.hotText:focus {
  color: #007681;
  /* background-color: #fff; */
  border: 3px dashed #005e67;
}

.hotText2:hover,
.hotText2:focus {
  background-color: #fff;
  color: #2E48A6;
}




/* FAH347 begins here */

@keyframes inOut {
  0% {
   opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes colourShift {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


.colourShift {
  animation: colourShift 8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 32s linear infinite;
}

@keyframes fade {
  0% {
    opacity: .5;
    filter: saturate(0)
    ;
  }
  20% {
    opacity: 1;
    filter: saturate(1)
  }
  60% {
    opacity: 1;
    filter: saturate(1)
  }
  80% {
    opacity: .5;
    filter: saturate(.1)
  }
  100% {
    opacity: .5;
    filter: saturate(.1)
  }
}
.fade1 {
  opacity: .5;
  filter: saturate(0);
  animation: fade 8s linear infinite;
}
.fade2 {
  opacity: .5;
  filter: saturate(0);
  animation: fade 8s linear 4s infinite;
}

header > ul,
section > div,
section > ul {
  width: 100%;
  margin: auto;
}

header,
section {
  min-height: 100vh;
  padding: 6% 10%;
  position: relative;
}


.title {
  width: 100%;
  height: 100vh;
  padding: 10%;
  background-image: url("./assets/diagonal2.png");
}

.title .pad {
  height: auto;
}


.img {
  width: 100%;
  background-image: url("./assets/diagonal2.png");
  background-size: 320px;  
  margin: 0 auto;
}

.img img{
  height: auto;
  max-height: 75vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

iframe {
  width: 100%;
  height: 75vh
}

.img div {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}

.hoverCap {
  position: absolute !important;
  height: 100%;
  padding: 2rem;
  background: #ffffffe5;
  transition: .1s;
  /* align-items: center; */
  justify-content: center;
  opacity: 0;
  flex-direction: column;
  top: 0;
  left: 0;
  overflow: scroll;
  z-index: 2;
}

.hoverCap:hover,
.hoverCap:focus {
  opacity: 1;
}

.hoverImg {
  position: absolute !important;
  height: 100%;
  overflow: scroll;
  top: 0;
  left: 0;
  background: #ffffff;
  animation: inOut 8s alternate-reverse infinite;
}

.inv .hoverImg {
  background: #303030;
}


.hoverCap p {
  height: auto;
  color: #303030;
  padding: 0 !important;
  color: #303030;
  background: transparent !important;
  filter: none !important;
}


.row {
  display: flex;
  overflow: scroll;
  background-image: url("./assets/diagonal2.png");
  background-size: 320px;  
  width: 100%;
  padding: 5%;
}

.row li {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
}
.row li p,
.row li h4 {
padding: 0 1rem;
}

.row li img {
  width: auto;
  max-height: 75vh;
  max-width: 75vw;
}

.row p {
  filter: drop-shadow(0px 0px 1px #fff);
}

.row .pad {
  height: auto;
  justify-content: center;
  align-items: center;
}

.row .pad p {
  min-width: 300px;
  width: 40vw;
}



.imgBox li,
.imgRow li {
  background:linear-gradient(to top, rgba(255, 255, 255, 0.50), rgba(255, 255, 255, 0) 100px), url('./assets/diagonal2.png');
  background-size: 320px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.imgBox p,
.img p,
.imgRow {
  /* font-size: 1rem; */
  background: linear-gradient(180deg, #fff0, rgba(255, 255, 255, 0.77));
  padding: .75rem 0 0 0;
  margin: 0;
  width: 100%;
  filter: drop-shadow(0px 0px 1px #fff);
}
.inv .imgBox h5 {
  width: 100%;
  text-align: center;
  background: #303030;
  padding: 1.2rem 0;
  margin: 0;
}

.img p {
  background-color: linear-gradient(180deg, #fff0, rgba(255, 255, 255, 0.77));
}

.inv .img p {
  background: linear-gradient(180deg, #30303000, rgb(48, 48, 48));
  filter: none;
}

.inv .row {
  color: #303030 !important;
}



.inv .imgBox p {
  background: linear-gradient(180deg, #30303000, rgb(48, 48, 48));;
  filter: drop-shadow(0px 0px 1px #303030);

}

.inv .imgBox li {
  background:linear-gradient(180deg, #30303000 100px, rgba(48, 48, 48, 0.50)), url('./assets/diagonal2.png');
  background-size: 320px;
}

.img .imgBox {
  margin: 0 1rem;
}

.pad {
  box-shadow: 0px 0px 3px #3030300a;
}

.imgBox {
  margin: 2rem 0;
}

.padB {
  box-shadow: none;
}

.spacer {
  display: block;
  width: 100%;
}

li img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.vert {
  margin: auto;
  max-width: 30vmax;
}



.down {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 99;
}


.down i,
.down2 i,
.up i {
  font-size: 24px;
  color: #fff;
  background-color: #30303083;
  border-radius: 100%;  
  mix-blend-mode: overlay;
  padding: 1px;
  opacity: .7;
}
.up {
  top: 1rem;
  padding: 0 0 4px 0;
}

.bf i {
  font-size: 2rem;
  padding: 1rem 0;
}

.defs {
  background: url(./assets/diagonal.png);
  background-size: 300px;
  padding: 5%;
  margin: 8rem auto;
  position: relative;
  transition: none;
}

.defs > i {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  border-radius: 100%;
  background: #fff;
  color: #a3a3a3;
}

.defs .gridCols {
  margin-bottom: 0;
}



.defs .pad {
  transition: none !important;
}


/* SYLLABUS */

nav {
  width: 100%;
  color: #fff;
  position: absolute;
  justify-content: space-between !important;
  top: 0;
  left: 0;
  padding: 0 calc(10% - 2rem);
  background: linear-gradient(180deg, #0000002b, #00000000);
}

nav button {
  color: #fff !important;
  filter: drop-shadow(1px 1px 8px #000000a5);
  padding: 0;
  display: flex;
  transition: .1s;
}

nav a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  padding: 1rem 2rem;
}


nav button:hover,
nav button:focus {
  background: #fff;
  color: #303030 !important;
  filter: none


}

.readings {
  margin-left: 200px;
}
.readings span {
  padding: 0 .5rem;
}

ol li {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  /* align-items: flex-start; */
}

ol li h3 {
  min-width: 200px;
  margin: .5rem 0;
}

ol li h4 {
  margin: 0;
}

ol li > a {
  width: calc(100% - 200px);
  min-width: 200px;
  text-decoration: none;
  color: #303030;
  padding: 1.3rem;
  margin: 0 -1.3rem;
}

ol li > a:hover,
ol li > a:focus {
  background: #303030;
  color: #fff;
  transition: .2s ease-out;
}

a[href="#"] {
  pointer-events: none;
}

a[href="#"]:hover,
a[href="#"]:focus {
  background: inherit;
  color: inherit;
  cursor: default;
}

.gridGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 3rem 2rem;
}

.gridGrid li {
  margin: 0;
  place-content: center;
  aspect-ratio: 1;
}

.gridGrid li a {
  margin: 0;
  padding: 2rem;
  width: 100%;
  min-width: 6rem;
  font-size: 1.5rem;
  font-weight: 600;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #aeaeae;
}

.grid2 {
  width: 100%;
}
.grid2 li {
  margin: 1rem 0;
  border: 1px solid #aeaeae;
}

.grid2 li a {
  display: flex;
  place-content: center;
  margin: 0;
  width: 100%;
}




header {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


.pad,
.padd {
  padding: 1.5rem 3rem;
  background: #fff;
  border-radius: 1px;
  width: 100%;
  height: 100%;
  transition: .1s linear;
  margin: 0;
}

.padd {
  min-width: 260px;
  width: 40vw;
  padding: 5vw;
  height: auto;
  margin: auto;
}

.padd p {
  padding: 0 !important;
}

.padB .instructions {
  margin: 0.3rem 0 0 2rem
}



button:hover,
button:focus {
  background: #303030;
  color: #fff !important;
}
.plus {
  position: absolute; 
  top: calc(50% - 1.25rem); 
  right: 2rem;
  margin: 0;
  height: 3rem;
}
button {
  border: 0;
  cursor: pointer;
  position: relative;
}

#closeMenu {
  position: absolute; 
  top: 0; right: 1rem; 
  padding: 1rem; 
  z-index: 100; 
  display: none
}

.inv {
  color: #fff;
  background: #303030;
  border: none !important;
}

.inv i {
  color: #fff;
}


/* MEDIA QUERIES! */

@media (max-width: 824px) {
  .iconGridCols .gridDub,
  .gridCols .gridDub {
    grid-column: span 1;
  }
  html {
    font-size: 15px;
  }
}

@media (max-width: 648px) {
  .iconGrid .gridDub,
  .grid .gridDub {
    grid-column: span 1;
  }
}

@media (max-width: 600px) {
  .covid > div,
  .iNote > div,
  .iNote > p {
    width: 100%;
  }
  .covid img,
  .iNote img {
    margin: 0 auto 1.5rem auto;
  }
  .iconGridCols {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .iNote,
  .note,
  .video,
  .resources,
  .knowledgeCheck,
  .graph,
  .map,
  .covid,
  .checkBox {
    padding: 3rem;
    margin: 3rem 0;
  }
  section,
  header{
    padding: 6% 8%;
    background-size: 1200px;
  }
  nav {
    padding: 0 calc(8% - 2rem);
  }
  .hide {
    display: none;
  }
}

@media (max-width: 475px) {

  ol li > a,
  #botar {
    width: 100% !important;
    padding: .7rem;
    margin: .7rem -.7rem 0 -.7rem !important;
  }
  .closer {
    margin: 0 !important;
  }
  .readings {
    margin: 0;
  }
  section,
  header{
    padding: 5%;
  }
  nav {
    padding: 0 calc(5% - 2rem);
  }
}

@media (max-width: 450px) {
  html {
    font-size: 14px;
  }
  .grid,
  .gridCols,
  .gridCols,
  .iconGridCols {
    grid-template-columns: 1fr;
    gap: 2rem;
    height: 100%;
    max-width: 1440px;
  }
  .iNote,
  .note,
  .video,
  .resources,
  .knowledgeCheck,
  .graph,
  .map,
  .covid,
  .checkBox {
    padding: 2rem;
    margin: 2rem 0;
  }
  h1 {
    font-size: 2.5rem;
  }
  #jour,
  #ess {
    width: 100% !important;
  }
  
}




@media (max-width: 350px) {
  ol li h4 {
    width: 100%;
  }
  .readings {
    margin: 0;
  }
  section,
  header{
    padding: 5% 2%;
  }
  nav {
    padding: 0;
  }

}

@media (min-width: 1441px) {
  section {

padding-left: 0;
padding-right: 0;
  }
}